{{define "header"}}
  <head>
    <title>Simdezuk 2015</title>
     <link rel="stylesheet" href="static/leaflet.css" />
     <script src="static/leaflet.js"></script>
     <script src="static/leaflet-realtime.js"></script>
     <script src="static/custom.js"></script>
  </head>
{{end}}
